.tasks {
  border-collapse: collapse;
  width: 830px;
  position: absolute;
  top: 90px;
  .header {
    height: calc(12px + 17px * 2);
    align-items: center;
    border-bottom: 1px solid #e2e7ea;

    td {
      align-items: center;
      position: relative;
      font-size: 12px;
      margin: 0;
      height: 22px;
      font-weight: bold;
      text-indent: 15px;
      &::after {
        content: "";
        position: absolute;
        top: 12px;
        right: 0;
        width: 0;
        height: 22px;
        border-right: 1px solid #e2e7ea;
      }
    }
    .id,
    .executor {
      text-indent: 0px;
      text-align: center;
    }
    .executor,
    .priority {
      &::after {
        content: "";
        position: absolute;
        top: 12px;
        right: 0;
        width: 0;
        height: 22px;
        border-right: none;
      }
    }
    .priority {
      padding: 0;
      margin: 0;
    }
  }
}
